table {
  margin: 1em auto;
}

td {
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
}

td:first-child {
  border-left: solid;
}

td:nth-child(3n) {
  border-right: solid;
}

tr:first-child {
  border-top: solid;
}

tr:nth-child(3n) td {
  border-bottom: solid;
}

td:hover {
  background-color: deepskyblue;
}

.game {
  margin: 1em auto;
  display: block;
}

.sudoku-table tr td.active {
  background-color: deepskyblue;
}

.disabled-cell {
  /*https://css-tricks.com/almanac/properties/p/pointer-events/ */
  pointer-events: none;
}